//COLORES
$title-dark: #424242;
$date-light: #5f6368;
$text-light: #414549;
$line-color: #4285f4;
$hover: lightgray;

// FUENTES
$size-title: 46px;
$size-subtitle: 24px;
$size-text: 18px;

// MARGENES
$mt-10: 10%;
$mt-5: 5%;
$ml-25: 2.5%;
$padding: 0 5% 15% 5%;
