@import "variables";
@import "grid";

// CLASES
.subtitle{
    font-size: $size-subtitle;
}

.txt{
    font-size: $size-text;
}

.txt-light{
	color: $text-light;
}

.txt-color{
	color: $line-color;
}

.mt-10{
	margin-top: $mt-10;
}

.mt-5{
	margin-top: $mt-5;
}

.ml-3{
	margin-left: $ml-25;
}
.pointer{
	cursor: pointer;
}

.date{
	font-family: $font-secondary;
	color: $date-light;
}

.fondoClaro{
	background-color: #eeeeee;
}

// ELEMENTOS HTML
body{
	font-family: $font-main;
}

header{
	img{
		margin-top: $mt-5;
	}
	img.pointer{
		float: right;
	}
	li{
		display: inline-block;
		text-align: center;
		div{
			padding: $padding;
			&:hover{
				border-bottom: 4px solid $hover;
			}
		}
	}
}

div.img-container{
	margin-top: $mt-5;
	img{
		width: 95%;
		// margin-left: $ml-25;
	}
}

#presentacion{
    span{
        font-size: $size-title;
    }
		&:hover{
			border-bottom: 4px solid $hover;
		}
}

hr{
	width: 95%;
	margin-left: $ml-25;
	color: $line-color;
	border: 2px solid;
}

#noticias{
	span{
		p{
			color: $text-light;
		}
	}
}

a{
	text-decoration: none;
}

#tarjetas{
	span{
		div{
			img{
				vertical-align: middle;
			}
			span{
				vertical-align: middle;
			}
		}
	}
}
